*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/*  common  */

/*  picture layout  */
.pictures-layout {
    display: flex;
    flex-direction: column;
}

.pictures-layout img {
    width: 629px;
    height: 201px;

    border-radius: 5px;
}

.pl_upper-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pl_upper-line div {
    width: 304px;
    height: 327px;

    background-color: rgb(25, 77, 210);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 20px 0;
}

.pl_upper-line div h2 {
    font-size: 41px;
    font-weight: bold;
    text-align: left;

    color: white;

    margin: 100px 0 0 31px;
}

.pl_upper-line img {
    width: 304px;
    height: 327px;
}


@media(max-width:1550px) {
    .pictures-layout img {
        width: 495px;
        height: 201px;
    
        border-radius: 5px;
    }

    .pl_upper-line div {
        width: 240px;
        height: 250px;

        margin: 0 0 15px 0;
    }

    .pl_upper-line img {
        width: 240px;
        height: 250px;
    }

    .pl_upper-line div h2 {
        font-size: 32px;
    }
}

@media(max-width:1300px) {
    .pictures-layout img {
        width: 390px;
        height: 176px;
    
        border-radius: 5px;
    }

    .pl_upper-line div {
        width: 190px;
        height: 176px;

        margin: 0 0 10px 0;
    }

    .pl_upper-line img {
        width: 190px;
        height: 176px;
    }

    .pl_upper-line div h2 {
        font-size: 24px;
        margin: 60px 0 0 15px;
    }
}

/*  blue button */
.blue-btn {
    background-color: rgb(25, 77, 210);

    border: none;
    border-radius: 30px;
    font-family: sans-serif;
    color: white;

    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.blue-btn:hover {
    background-color: rgb(12, 48, 139);

    transition: 0.2s ease-in-out background-color;
}

/*  transparent button  */
.transparent-btn {
    background-color: transparent;
    border-radius: 30px;

    cursor: pointer;
    transition: 0.3s ease-in-out background-color;
}

.transparent-btn:hover {
    background-color: rgba(0, 0, 0, 0.45);

    transition: 0.3s ease-in-out background-color;
}


/*  header  */
.header {
    display: flex;
    flex-direction: row;
}

.start-earn-block {
    width: 468px;
    height: 904px;
    background-color: rgb(25, 77, 210);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s ease-in-out background-color;
}

.start-earn-block h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;

    margin-bottom: 60px;
}

.start-earn-block-arrow {
    margin-left: -10px;
    transition: 0.3s ease-in-out margin-left;
}

.main-header-block {
    width: 100%;
    height: 904px;

    background-image: url('../img/main_banner_img.png');
    background-size: cover;
    background-position: center;
}


.start-earn-block:hover {
    background-color: rgb(18, 69, 199);

    transition: 0.3s ease-in-out background-color;
}

.start-earn-block:hover .start-earn-block-arrow {
    margin-left: 20px;
    transition: 0.3s ease-in-out margin-left;
}

@media(max-width: 1330px){
    .start-earn-block {
        display: none;
    }
}

/*  header-nav  */
.main-header-nav {
    width: 100%;
    height: 117px;
    background-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav-ul {
    width: 100%;
    height: 100%;
    
    list-style: none;

    display: flex;
    justify-content: center;
}

.header-nav-ul-active {
    left: 0;
    transition: left 0.3s ease-in-out;
}

.header-nav-ul-disabled {
    left: -650px;
    transition: left 0.3s ease-in-out;
}

.main-header-nav li {
    height: 100%;

    margin-right: 50px;
    
    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.main-header-nav a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;

    transition: 0.2s ease-in-out color;
}

.main-header-nav button {
    width: 339px;
    height: 100%;
    background-color: rgb(25, 77, 210);

    border: none;

    font-family: sans-serif;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    color: white;

    margin: 0 0 0 auto;

    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.main-header-nav li:nth-last-child(1) {
    margin: 0;
}

.main-header-nav a::after {
    content: '';

    height: 6px;
    width: 100%;

    background-color: rgb(25, 77, 210);
    position: absolute;
    bottom: 0;
    left: -100%;

    transition: 0.2s ease-in-out left;
}

.main-header-nav li:hover a {
    color: rgb(25, 77, 210);

    transition: 0.2s ease-in-out color;
}

.main-header-nav li:hover a::after {
    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.2s ease-in-out left;
}

.main-header-nav button:hover {
    background-color: rgb(20, 66, 182);

    transition: 0.2s ease-in-out background-color;
}


@media(max-width:1020px) {
    .main-header-nav {
        height: 90px;

        position: relative;
    }

    .main-header-nav ul {
        max-width: 600px;

        padding-top: 112px;
        padding-left: 40px;

        background-color: rgba(0, 0, 0, 0.6);

        position: fixed;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: start;

        transition: left 0.3s ease-in-out;
        z-index: 10;
    }

    .main-header-nav li {
        height: 70px;
    }
}

@media(max-width:950px) {
    .main-header-nav button {
        width: 240px;
    }
}

@media(max-width:550px) {
    .main-header-nav {
        height: 70px;
    }

    .main-header-nav button {
        width: 200px;
    }
}

@media(max-width: 440px) {
    .main-header-nav {
        height: 50px;
    }

    .main-header-nav button {
        width: 180px;
        font-size: 16px;
        font-weight: 400;
    }
}

/*  header-banner  */
.header-burger {
    width: 50px;
    height: 50px;

    margin: 0 0 0 32px;

    z-index: 11;

    display: none;
    cursor: pointer;
}

.header-burger-active {
    position: fixed;
}

.header-burger path {
    fill: white;
    transition: fill 0.3s ease-in-out;
}

.header-burger-active path {
    fill: rgb(25, 77, 210);
    transition: fill 0.3s ease-in-out;
}

.header-banner-margin-div {
    margin: 125px 0 0 110px;
}

.main-header-banner h1 {
    text-align: left;
    font-size: 52px;
    font-weight: bold;
    line-height: 75px;
    color: white;

    margin-bottom: 51px;
}

.main-header-banner p {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: white;

    margin-bottom: 67px;
}

.header-banner-btns {
    margin: 0;
}

.main-header-transparent-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 400;
    color: white;

    border: 2px solid white;

    margin: 0 10px 0 0;
}

.main-header-blue-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 400;
    color: white;

    display: none;
}


@media(max-width: 1330px) {
    .main-header-blue-btn {
        display: inline;
    }
}

@media(max-width: 1020px) {
    .header-burger {
        display: block;
    }
}

@media(max-width:950px) {
    .main-header-banner h1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 60px;
    }

    .main-header-banner p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .main-header-transparent-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }

    .main-header-blue-btn  {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}

@media(max-width: 740px) {
    .main-header-block {
        height: 704px;
    }

    .header-banner-margin-div {
        margin: 100px 0 0 80px;
    }

    .main-header-banner h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .main-header-banner p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media(max-width: 550px) {
    .header-banner-margin-div {
        margin: 90px 0 0 40px;
    }

    .main-header-banner h1 {
        font-size: 24px;
        line-height: 32px;

        margin: 0 0 30px 0;
    }

    .main-header-banner p {
        font-size: 14px;
        line-height: 20px;
    }

    .main-header-transparent-btn {
        width: 180px;
        height: 36px;
        font-size: 14px;
    }

    .main-header-blue-btn  {
        width: 180px;
        height: 36px;
        font-size: 14px;
    }

    .main-header-nav ul {
        background-color: black;

        padding-top: 65px;
    }
}

@media(max-width: 440px) {
    .header-banner-margin-div {
        margin: 50px 0 0 30px;
    }

    .main-header-block {
        height: 550px;
    }

    .header-banner-btns {
        display: flex;
        flex-direction: column;
    }

    .main-header-transparent-btn {
        margin: 0 0 10px 0;
    }

    .header-burger {
        height: 40px;
        width: 40px;
    }

    .main-header-nav ul {
        padding-top: 40px;
    }
}

/*  how we work section  */
.how-we-work_section {
    background-color: white;
}

.how-we-work-main_div {
    max-width: 1480px;

    margin: 80px auto 120px auto;
}

.how-we-work-block {
    display: flex;
}

.how-we-work-reg {
    position: relative;
}

.how-we-work-reg h1 {
    font-size: 42px;
    font-weight: bold;

    color: rgb(20, 27, 70);

    margin: 108px 0 38px 100px;
}

.how-we-work-reg p {
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;

    margin: 0 0 0 100px;

    color: black;
}

.how-we-work-btn {
    width: 236px;
    height: 60px;

    font-size: 18px;
    font-weight: 300;
    color: white;

    margin: 0 0 0 100px;

    position: absolute;
    bottom: 0;

    transition: 0.3s ease-in-out background-color;
}


@media(max-width:1550px) {
    .how-we-work-block {
        display: flex;
        justify-content: center;
    }

    .how-we-work-reg {
        width: 700px;
    }

    .how-we-work-reg h1 {
        font-size: 36px;
        margin: 80px 0 30px 80px;
    }

    .how-we-work-reg p {
        margin-right: 40px;
        margin: 0 0 0 80px;
    }

    .how-we-work-btn {
        width: 210px;
        height: 50px;

        margin: 0 0 0 80px;
    }
}

@media(max-width:1300px) {
    .how-we-work-reg {
        width: 600px;
    }

    .how-we-work-reg h1 {
        font-size: 30px;
        margin: 50px 0 26px 60px;
    }

    .how-we-work-reg p {
        margin-right: 40px;
        margin: 0 0 0 60px;

        font-size: 16px;
    }

    .how-we-work-btn {
        margin: 0 0 0 60px;
    }
}

@media(max-width:1020px) {
    .how-we-work-main_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-we-work-block {
        width: 620px;
        flex-direction: column;
    }

    .how-we-work-pl {
        display: none;
    }

    .how-we-work-reg {
        height: 340px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-we-work-reg h1 {
        margin: 0 0 26px 0;

        text-align: center;
    }

    .how-we-work-btn {
        margin: 0;
    }
} 

@media(max-width:630px) {
    .how-we-work-reg {
        max-width: 320px;
        height: 380px;
    }

    .how-we-work-reg h1 {
        font-size: 26px;
    }

    .how-we-work-reg p {
        width: 320px;
        font-size: 14px;
        margin: 0;
    }
}

/*  how we work cards  */ 
.how-we-work-cards_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 100px 0 0 0;
}

.how-we-work-card {
    width: 473px;
    height: 408px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);

    padding-top: 65px;
    padding-left: 39px;
    padding-right: 39px;
}

.how-we-work-card p {
    font-size: 18px;
    font-weight:lighter;
    line-height: 150%;
}

.how-we-work-card-upper-line {
    height: 45px;

    display: flex;
    flex-direction: row;

    margin-bottom: 42px;
}

.how-we-work-card-upper-line div {
    border-left: 2px solid rgb(227, 227, 227);

    margin-left: 30px;
    padding-left: 30px;
}

.how-we-work-card-upper-line div h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}

/*  we work slider  */
.how-we-work-slider {
    width: 200px;

    margin: 20px 0 0 0;

    display: none;
    justify-content: space-between;
}

.how-we-work-control-l {
    width: 50px;
    height: 50px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    /* border: 2px solid gray; */
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.how-we-work-control-l:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.how-we-work-control-l img {
    transform: rotate(90deg);
    user-select: none;
}

.how-we-work-control-r {
    width: 50px;
    height: 50px;

    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    /* border: 2px solid gray; */
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.how-we-work-control-r:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.how-we-work-control-r img {
    transform: rotate(-90deg);
    user-select: none;
}

.disabled-slider-btn {
    background-color: rgb(231, 231, 231);

    transition: 0.3s background-color ease-in-out;;
}

@media(max-width:1550px) {
    .how-we-work-main_div {
        width: 1195px;
    }

    .how-we-work-card {
        width: 380px;
        height: 320px;

        padding-top: 40px;
        padding-left: 26px;
        padding-right: 20px;
    }

    .how-we-work-card-upper-line {
        margin-bottom: 20px;
    }

    .how-we-work-card-upper-line img {
        width: 40px;
        height: 38px;
    }

    .how-we-work-card-upper-line div {
        height: 38px;
    }

    .how-we-work-card-upper-line div h2 {
        font-size: 16px;
        line-height: 140%;
    }
}

@media(max-width:1300px) {
    .how-we-work-main_div {
        max-width: 990px;

        margin: 50px auto 80px auto;
    }

    .how-we-work-cards_inner { 
        margin: 80px 0 0 0;
    }

    .how-we-work-card {
        width: 310px;
        height: 280px;
        padding-top: 24px;
        padding-left: 18px;
        padding-right: 14px;
    }

    .how-we-work-card-upper-line {
        height: 28px;
    }

    .how-we-work-card-upper-line img {
        width: 34px;
        height: 28px;
    }

    .how-we-work-card-upper-line div {
        height: 28px;
    }

    .how-we-work-card-upper-line div h2 {
        font-size: 14px;
        line-height: 120%;
    }

    .how-we-work-card p {
        font-size: 16px;
        line-height: 140%;
    }
}

@media(max-width:1020px) {
    .how-we-work-main_div {
        width: 620px;
    }

    .how-we-work-cards {
        width: 473px;
        height: 408px;

        /* border: 2px solid gray; */
        margin-top: 65px;

        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
        overflow: hidden;

        position: relative;
    }

    .how-we-work-cards_inner {
        margin: 0;

        position: absolute;
        top: 0;
        left: 0;

        transition: 0.3s left ease-in-out;
    }

    .slider_part_two {
        left: -473px;
        transition: 0.3s left ease-in-out;
    }

    .slider_part_three {
        left: -946px;
        transition: 0.3s left ease-in-out;
    }

    .how-we-work-slider {
        display: flex;
    }

    .how-we-work-card {
        width: 473px;
        height: 408px;

        padding-top: 65px;
        padding-left: 39px;
        padding-right: 39px;

        margin-bottom: 20px;

        box-shadow: none;
    }

    .how-we-work-card-upper-line {
        margin-bottom: 42px;
    }

    .how-we-work-card-upper-line img {
        width: 49px;
        height: 45px;
    }

    .how-we-work-card-upper-line div {
        height: 45px;
    }

    .how-we-work-card-upper-line div h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
    }

    .how-we-work-card p {
        font-size: 18px;
        line-height: 150%;
    }
}

@media(max-width: 630px) {
    .how-we-work-main_div {
        max-width: 320px;
        margin: 40px auto 30px auto;
    }

    .how-we-work-block {
        max-width: 320px;
    }

    .how-we-work-reg p {
        text-align:center;
    }

    /* cards */
    .how-we-work-card {
        width: 320px;
        height: 290px;

        padding-top: 26px;
        padding-left: 20px;
        padding-right: 16px;

        box-shadow: none;
    }

    .how-we-work-card-upper-line {
        margin-bottom: 32px;
    }

    .how-we-work-card-upper-line img {
        width: 36px;
        height: 34px;
    }

    .how-we-work-card-upper-line div {
        height: 34px;
    }

    .how-we-work-card-upper-line div h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
    }

    .how-we-work-card p {
        font-size: 16px;
        line-height: 140%;
    }

    /* slider*/
    .how-we-work-cards {
        width: 320px;
        height: 290px;
    }

    .slider_part_two {
        left: -320px;
    }

    .slider_part_three {
        left: -640px;
    }
}

/*  investment section  */
.investment_section {
    width: 100%;
    height: 748px;

    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
}

.investment-main-img {
    width: 436px;
    height: 100%;
    background-image: url('../img/investment_img.png');
    background-position: center;
}

.investment-btn-block {
    margin: 0 0 0 112px;
}

.investment-btn-block h1 {
    width: 400px;

    font-size: 42px;
    font-weight: bold;
    line-height: 130%;

    color: white;

    margin: 197px 0 0 0;
}

.investment-btn-block div {
    width: 65px;
    border-top: 3px solid white;

    margin: 65px 0 68px 0;
}

.investment-blue-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 300;
    color: white;
}

@media(max-width:1560px) {
    .investment-main-img {
        width: 350px;
    }

    .investment-btn-block {
        margin: 0 0 0 60px;
    }
}

@media(max-width:1400px) {
    .investment-btn-block h1 {
        max-width: 380px;
        font-size: 36px;
        margin: 150px 0 0 0;
    }

    .investment-btn-block div {
        margin: 40px 0 68px 0;
    }

    .investment-blue-btn {
        width: 270px;
        height: 55px;
    
        font-size: 18px;
        font-weight: 300;
    }
}

@media(max-width:1200px) {
    .investment_section {
        background-image: radial-gradient(rgba(14, 14, 14, 0.6), rgba(14, 14, 14)),
                      url('../img/investment_img.png');
                      background-repeat: no-repeat;
        background-size: cover;

        height: 500px;
    }

    .investment-main-img {
        display: none;
    }

    /*  --  */
    .investment-btn-block h1 {
        max-width: 320px;
        font-size: 36px;
        margin: 110px 0 0 0;
    }

    .investment-btn-block div {
        margin: 40px 0 40px 0;
    }
}

@media(max-width:970px) {
    .investment_section {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .investment-btn-block {
        max-width: 500px;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .investment-btn-block h1 {
        margin: 70px 0 0 0;
        text-align: center;
    }
}

@media(max-width:580px) {
    .investment-btn-block h1 {
        width: 320px;
        font-size: 28px;
        margin: 80px 0 0 0;
    }

    .investment-blue-btn {
        width: 250px;
        height: 50px;
    
        font-size: 16px;
        font-weight: 300;
    }
}

/* investment steps block */
.investment-steps-block {
    height: 100%;

    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.investment-steps-block img {
    height: 596px;
}

.investment-steps-description {
    width: 500px;
    height: 452px;

    position: relative;
}

.investment-steps-block h3 {
    font-size: 18px;
    font-weight: 600;
    color: white;

    margin: 0 0 10px 38px;
}

.investment-steps-block p {
    width: 460px;

    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    color: white;

    margin: 0 0 0 38px;
}

.step-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-description:nth-child(1) {
    position: absolute;
    top: 0px;
}

.step-description:nth-child(2) {
    position: absolute;
    top: 180px;
}

.step-description:nth-child(3) {
    position: absolute;
    top: 340px;
}

@media(max-width:1400px) {
    .investment-steps-description {
        height: 402px;
    }

    .investment-steps-block img {
        height: 500px;
    }

    .investment-steps-block h3 {
        font-size: 18px;
    }

    .investment-steps-block p {
        width: 440px;
        font-size: 16px;
    }

    /**/
    .step-description:nth-child(2) {
        top: 165px;
    }
    
    .step-description:nth-child(3) {
        top: 300px;
    }
}

@media(max-width:1200px) {
    .investment-steps-description {
        height: 402px;
    }

    .investment-steps-block img {
        height: 400px;
    }

    .investment-steps-description {
        height: 330px;
    }

    .investment-steps-block h3 {
        font-size: 17px;
    }

    .investment-steps-block p {
        width: 400px;
        font-size: 14px;
    }

    /**/
    .step-description:nth-child(2) {
        top: 130px;
    }
    
    .step-description:nth-child(3) {
        top: 245px;
    }
}

@media(max-width:970px) {
    .investment-steps-block {
        width: 460px;
        height: 450px;
    }
}

@media(max-width:580px) {
    .investment-steps-block img {
        display: none;
    }

    .investment-steps-description {
        width: 300px;
        height: 280px;
    }

    .investment-steps-block {
        width: 300px;
    }

    .investment-steps-block h3 {
        font-size: 16px;
        margin: 0 0 10px 20px;
    }

    .investment-steps-block p {
        width: 280px;
        font-size: 12px;
        margin: 0 0 0 20px;
    }

    /**/
    .step-description:nth-child(2) {
        top: 110px;
    }
    
    .step-description:nth-child(3) {
        top: 225px;
    }
}

/*  advantage section  */
.advantage_section {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;
    padding-bottom: 114px;
}

.advantage_section h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(19, 63, 141)
}

.advantage-header-line {
    width: 65px;
    border-top: 3px solid rgb(19, 63, 141);

    margin: 30px 0 36px 0;
}

.advantage_section h1 {
    font-size: 42px;
    font-weight: bold;
    color: black;
}

@media(max-width:1520px) {
    .advantage_section {
        padding-top: 90px;
        padding-bottom: 80px;
    }
}

@media(max-width:730px) {
    .advantage_section {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .advantage-header-line {
        margin: 26px 0 30px 0;
    }

    .advantage_section h1 {
        font-size: 36px;
    }
}

@media(max-width:600px) {
    .advantage_section {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .advantage_section h1 {
        font-size: 30px;
        text-align: center;
        margin: 0 15px 0 15px;
    }
}

@media(max-width:420px) {
    .advantage_section h1 {
        font-size: 26px;
    }
}
/*  advantage cards  */
.advantage-card {
    display: flex;
    flex-direction: row;
}

.advantage-cards-block {
    width: 1442px;

    margin: 109px 0 37px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage-cards-block img {
    margin-bottom: auto;
}

.advantage-card {
    margin-bottom: 74px;
}

.advantage-card div {
    width: 560px;

    margin-left: 25px;
}

.advantage-card h2 {
    font-size: 18px;
    font-weight: bold;

    color: black;
}

.advantage-card div div {
    width: 36px;
    border-top: 3px solid rgb(19, 63, 141);

    margin: 16px 0 22px 0;
}

.advantage-card p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 1px;

    color: black;
}

@media(max-width:1520px) {
    .advantage-cards-block {
        width: 1260px;
        margin: 90px 0 30px 0;
    }

    .advantage-cards-block img {
        width: 70px;
        height: 70px;
    }

    .advantage-card {
        margin-bottom: 64px;
    }

    .advantage-card div {
        width: 500px;
        margin-left: 25px;
    }

    .advantage-card p {
        font-size: 16px;
        line-height: 140%;
    }
}

@media(max-width:1300px) {
    .advantage-cards-block {
        width: 600px;
    }
}

@media(max-width: 730px) {
    .advantage-cards-block {
        margin: 70px 0 20px 0;
    }

    .advantage-cards-block {
        max-width: 500px;
    }

    .advantage-cards-block img {
        width: 60px;
        height: 60px;
    }

    .advantage-card div {
        width: 450px;
    }
}

@media(max-width:600px) {
    .advantage-cards-block {
        max-width: 340px;
    }

    .advantage-cards-block img {
        width: 40px;
        height: 40px;
    }

    .advantage-card div {
        width: 300px;
        margin-left: 18px;
    }

    .advantage-card h2 {
        font-size: 16px;
    }

    .advantage-card p {
        font-size: 14px;
        line-height: 130%;
    }

    .advantage-card div div {
        margin: 14px 0 18px 0;
    }
}

@media(max-width: 420px) {
    .advantage-cards-block {
        max-width: 300px;
    }

    .advantage-card {
        margin-bottom: 30px;
    }

    .advantage-card div {
        width: 260px;
    }

    .advantage-cards-block img {
        width: 34px;
        height: 34px;
    }
}

/*  advantage buttons  */
.advantage-buttons {
    width: 630px;

    display: flex;
    justify-content: space-between;
}

.advantage-blue-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;
    color: white;
}

.advantage-transparent-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;
    color: black;

    border: 2px solid black;
}

@media(max-width: 730px) {
    .advantage-buttons {
        width: 530px;
    }

    .advantage-blue-btn {
        width: 260px;
        height: 55px;
    }

    .advantage-transparent-btn {
        width: 260px;
        height: 55px;
    }
}

@media(max-width:600px) {
    .advantage-buttons {
        max-width: 236px;
        flex-direction: column;
        align-items: center;
    }

    .advantage-blue-btn {
        width: 230px;
        height: 50px;

        margin: 0 0 15px 0;
    }

    .advantage-transparent-btn {
        width: 230px;
        height: 50px;
    }
}

/*  statistics_section  */
.statistics_section {
    height: 728px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../img//statistics_background.png');
    background-size: cover;
    background-position: center;

    padding-top: 140px;
}

.statistics_section h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;

    margin: 0 0 24px 0;
}

.statistics-header-line {
    width: 65px;
    border-top: 3px solid white;
}


.statistics-cards-block {
    width: 1500px;

    margin-top: 78px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistics-card div {
    width: 306px;

    border-bottom: 2px solid white;
}

.statistics-card h2 {
    font-size: 64px;
    font-weight: bold;
    color: white;
}

.statistics-card p {
    font-size: 20px;
    font-weight: lighter;
    color: white;

    margin: 20px 0 100px 0;
}

@media(max-width: 1600px) {
    .statistics_section {
        height: 680px;
    
        padding-top: 100px;
    }

    .statistics-cards-block {
        width: 1200px;
        margin-top: 78px;
    }

    .statistics-card div {
        width: 250px;
    }

    .statistics-card h2 {
        font-size: 46px;
    }
}

@media(max-width: 1300px) {
    .statistics_section {
        height: 670px;
    }

    .statistics-cards-block {
        width: 1000px;
        margin-top: 78px;
    }

    .statistics-card div {
        width: 210px;
    }

    .statistics-card h2 {
        font-size: 36px;
    }

    .statistics-card p {
        margin: 16px 0 80px 0;
    }
}

@media(max-width: 1100px) {
    .statistics_section {
        height: 720px;
    }

    .statistics-cards-block {
        width: 500px;
        flex-wrap: wrap;
    }
}

@media(max-width: 640px) {
    .statistics_section {
        height: 1000px;
        padding-top: 70px;
    }

    .statistics_section h1 {
        font-size: 34px;
        margin: 0 20px 20px 20px;
        text-align: center;
    }

    .statistics-cards-block {
        width: 280px;
        margin-top: 60px;
    }

    .statistics-card div {
        width: 280px;
    }

    .statistics-card h2 {
        font-size: 42px;
    }

    .statistics-card p {
        margin: 16px 0 40px 0;
    }
}

/*  statistics buttons  */
.statistics-buttons {
    width: 630px;

    display: flex;
    justify-content: space-between;
}

.statistics-blue-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;
    color: white;
}

.statistics-transparent-btn {
    width: 300px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;
    color: white;

    border: 2px solid white;
}

@media(max-width: 1100px) {
    .statistics-buttons {
        width: 560px;
    }

    .statistics-blue-btn {
        width: 260px;
        height: 55px;
    }

    .statistics-transparent-btn {
        width: 260px;
        height: 55px;
    }
}

@media(max-width: 640px) {
    .statistics-buttons {
        width: 320px;
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0 0;
    }

    .statistics-blue-btn {
        margin: 40px 0 20px 0;
    }
}

/*  info section  */
.info_section {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;
    padding-bottom: 114px;
}

.info_section h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(19, 63, 141);
}

.info-section-header-line {
    width: 65px;
    border-top: 3px solid rgb(19, 63, 141);

    margin: 27px 0 30px 0;
}

.info_section h1 {
    font-size: 42px;
    font-weight: bold;
    color: black;
}


/*  info section card  */
.info-section-cards-block {
    height: 339px;

    background-color: transparent;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 110px 0 170px 0;
}

.info-section-card {
    display: flex;
}

.info-section-card_shadow-drop {
    position: relative;
    width: 288px;
    height: 310px;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;

    transition: 0.3s ease-in-out width,
                0.3s ease-in-out height,
                0.3s ease-in-out z-index;
}

.info-section-card-disable-layer {
    width: 288px;
    height: 310px;

    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);

    z-index: 3;
}

.info-section-card-content {
    width: 288px;
    height: 310px;

    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    z-index: 2;

    transition: 0.3s ease-in-out width,
                0.3s ease-in-out height,
                0.3s ease-in-out z-index;
}

.info-section-card img {
    margin-top: 112px;
}

.info-section-card h3 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(19, 63, 141);

    margin: 10px 0 10px 0;
}

.info-section-card h2 {
    font-size: 21px;
    font-weight: bold;
    color: black;
}


.info-section-card:hover .info-section-card_shadow-drop {
    width: 328px;
    height: 339px;

    z-index: 3;

    transition: 0.3s ease-in-out width,
                0.3s ease-in-out height;
}

.info-section-card:hover .info-section-card-content {
    width: 328px;
    height: 339px;

    z-index: 4;

    transition: 0.3s ease-in-out width,
                0.3s ease-in-out height;
}

@media (max-width: 1550px) {
    .info_section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .info_section h3 {
        font-size: 16px;
    }

    .info-section-header-line {
        margin: 16px 0 20px 0;
    }

    .info_section h1 {
        font-size: 36px;
    }

    /*  --  */
    .info-section-cards-block {
        height: 250px;
        margin: 60px 0 80px 0;
    }

    .info-section-card img {
        margin: 60px 0 20px 0;
    }
    
    .info-section-card h3 {
        font-size: 16px;
    }

    .info-section-card h2 {
        font-size: 18px;
    }

    .info-section-card-disable-layer, .info-section-card_shadow-drop, .info-section-card-content {
        width: 210px;
        height: 250px;
    }

    .info-section-card:hover .info-section-card_shadow-drop {
        width: 230px;
        height: 270px;
    }

    .info-section-card:hover .info-section-card-content {
        width: 230px;
        height: 270px;
    }
    
}

@media(max-width: 1030px) {

}

/*  info blocks  */
.info-section-info-block {
    width: 1470px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 150px;
}

/*  left info block  */
.left-info-block {
    width: 768px;
    padding-top: 10px;

    position: relative;
}

.left-info-block h4 {
    font-size: 18px;
    font-weight: bold;
    color: black;

    margin-bottom: 26px;
}

.left-info-block h2 {
    font-size: 42px;
    font-weight: bold;
    color: black;

    margin-bottom: 34px;
}

.left-info-block p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    color: black;

    margin-bottom: 24px;
}

.left-info-block span {
    color: rgb(10, 81, 203);

    cursor: pointer;
}

/*  right info block*/
.right-info-block {
    width: 755px;
    padding-top: 10px;

    position: relative;
}

.right-info-block h2 {
    font-size: 42px;
    font-weight: bold;
    color: black;

    margin-bottom: 40px;
}

.right-info-block p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    color: black;
}

.right-info-block span {
    color: rgb(10, 81, 203);

    cursor: pointer;
}

@media (max-width: 1550px) {
    .info-section-info-block {
        width: 1220px;
        margin-bottom: 150px;
    }

    /* left */
    .left-info-block {
        width: 650px;
    }

    .left-info-block h4 {
        margin-bottom: 10px;
    }

    .left-info-block h2 {
        font-size: 34px;
        margin-bottom: 28px;
    }

    .left-info-block p {
        font-size: 18px;
        line-height: 130%;
    }

    /* right */
    .right-info-block {
        width: 650px;
    }

    .right-info-block h2 {
        font-size: 34px;
        margin-bottom: 28px;
    }

    .right-info-block p {
        font-size: 18px;
        line-height: 130%;
    }
}

@media (max-width: 1300px) {
    .info-section-info-block {
        width: 950px;
        margin-bottom: 150px;
    }

    .info-section-info-block {
        margin-bottom: 90px;
    }

    /* left */
    .left-info-block {
        width: 520px;
    }

    .left-info-block h4 {
        display: none;
    }

    .left-info-block h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .left-info-block p {
        font-size: 16px;
        line-height: 120%;
    }

    /* right */
    .right-info-block {
        width: 520px;
    }

    .right-info-block h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .right-info-block p {
        font-size: 16px;
        line-height: 120%;
    }
}

@media(max-width:1030px) {
    .info-section-info-block {
        max-width: 900px;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    .info-pl {
        display: none;
    }

    /* left */
    .left-info-block {
        height: 350px;
    }

    /* right */
    .right-info-block {
        height: 350px;
    }
}

/*  info btn  */
.info-blue-left-btn {
    width: 382px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;

    position: absolute;
    bottom: 10px;
}

.info-blue-right-btn {
    width: 259px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;

    position: absolute;
    bottom: 10px;
}

@media (max-width: 1300px) {
    .info-blue-left-btn {
        width: 360px;
        height: 55px;
    
        font-size: 16px;
    }

    .info-blue-right-btn {
        width: 260px;
        height: 55px;
    
        font-size: 16px;
    }
}
/*  qna  */
.info-qna-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-qna-block h1 {
    font-size: 42px;
    font-weight: bold;
}

.info-qna-header-line {
    width: 65px;
    border-top: 3px solid rgb(10, 81, 203);

    margin: 24px 0 95px 0;
}

/* main qna block*/
.info-qna-block-row {
    width: 1490px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  left questions  */
.qna-questions-block {
    width: 779px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qna-question {
    width: 779px;
    height: 130px;

    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, .2);

    transition: 0.3s ease-in-out box-shadow;
}

.qna-question-active {
    background-color: rgb(10, 81, 203);
}

.qna-question-header {
    width: 779px;
    height: 130px;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

.qna-question_icon {
    margin: 0 42px 0 42px;
}

.qna-question_icon-active path {
    fill: white;
}

.qna-fheader {
    width: 565px;

    font-size: 18px;
    font-weight: 500;
    color: black;
}

.qna-fheader-active {
    color: white;
}

.qna-arrow {
    position: absolute;
    right: 42px;
}

.qna-arrow-active path {
    stroke: white;
}


.qna-question:hover {
    box-shadow: 2px 1px 20px 11px rgba(0, 0, 0, .2);

    transition: 0.3 ease-in-out box-shadow;
}

/*  right blue  */
.qna-blue-block {
    width: 685px;
    height: 420px;

    background-color: rgb(10, 81, 203);

    padding-top: 65px;
    padding-left: 65px;
}

.qna-blue-block h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 130%;
    color: white;
}

.qna-blue-block div {
    width: 65px;
    border-top: 3px solid white;

    margin: 40px 0 45px 0;
}

.qna-blue-block p {
    font-size: 18px;
    font-weight: bold;
    color: white;

    margin-bottom: 25px;
}

/*  footer  */
.footer {
    width: 100%;
    height: 591px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(12, 12, 12);

    padding-top: 122px;
    padding-left: 217px;
    padding-right: 217px;
}

.footer p {
    width: 351px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1px;
    color: white;
}

.nav-con-block {
    width: 827px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-con-block div {
    width: 321px;
}

.nav-con-block h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid rgb(239, 239, 239);

    margin-bottom: 26px;
    padding-bottom: 26px;
}

/*  footer con links  */
.footer-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    list-style: none;
}

.footer-con-links {
    width: 100%;
}

.footer-con-links li {
    width: 100%;

    margin: 0 20px 15px 0;
}

.footer-nav-links {
    width: 170px;
    height: 250px;
}

.footer-nav-links li {
    margin: 0 40px 15px 0;
}

.nav-con-block a {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    color: white;

    text-decoration: none;
}